--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
pydantic
ultralytics
scikit-fuzzy
scipy
opencv-python-headless
matplotlib
numpy
streamlit
pandas
sqlalchemy
alembic
pymysql
